@model IEnumerable<CompareVM>

@if (Model != null && Model.Count() > 0)
{
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <!-- Compare Table -->
                    <div class="compare-table table-responsive">
                        <table class="table mb-0">
                            <tbody>
                                <tr>
                                    <td class="first-column">Product</td>
                                    @foreach (CompareVM compareVM in Model)
                                    {
                                        <td class="product-image-title">
                                            <a href="#" class="image">
                                                <img src="~/assets/image/products/@compareVM.Image"
                                             alt="Compare Product">
                                            </a>
                                            <a href="#" class="category">@compareVM.Category.Name</a>
                                            <a href="#" class="title">@string.Join(", ",compareVM.ProductAuthors?.Select(x=>($"{x.Author.Name} {x.Author.MiddleName} {x.Author.Surname}").Trim()) )</a>
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td class="first-column">Description</td>
                                    @foreach (CompareVM compareVM in Model)
                                    {
                                        <td class="pro-desc">
                                            <p>
                                                @compareVM.BasicInfo
                                            </p>
                                        </td>
                                    }

                                </tr>
                                <tr>
                                    <td class="first-column">Price</td>
                                    @foreach (CompareVM compareVM in Model)
                                    {
                                        <td class="pro-price">$@compareVM.Price</td>
                                    }

                                </tr>
                                <tr>
                                    <td class="first-column">Stock</td>
                                    @foreach (CompareVM compareVM in Model)
                                    {
                                        <td class="pro-stock">@(compareVM.IsAvailable ? "In Stock" : "Not in Stock")</td>
                                    }
                                </tr>
                                <tr>
                                    <td class="first-column">Add to cart</td>
                                    @foreach (CompareVM compareVM in Model)
                                    {
                                        <td class="pro-addtocart">
                                            <a asp-controller="basket" asp-action="addbasket" asp-route-id="@compareVM.Id" class="add-to-cart" tabindex="0">
                                                <i class="fas fa-shopping-cart"></i><span>ADD TO CART</span>
                                            </a>
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td class="first-column">Delete</td>
                                    @foreach (CompareVM compareVM in Model)
                                    {
                                        <td class="pro-remove"><a asp-controller="compare" asp-action="deletecompare" asp-route-id="@compareVM.Id"><i class="fas fa-trash"></i></a></td>
                                    }
                                </tr>
                                <tr>
                                    <td class="first-column">Rating</td>
                                    @foreach (CompareVM compareVM in Model)
                                    {
                                        <td class="pro-ratting">
                                            @{
                                                double overall = (double)compareVM.Star;
                                                double modul = 0;

                                                if (overall % 1 != 0)
                                                {
                                                    modul = overall % 10;
                                                }
                                            }
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                if (i <= overall)
                                                {
                                                    <span class="fas fa-star star_on"></span>
                                                }
                                                else if (modul > 0)
                                                {
                                                    modul = 0;
                                                    <span class="fas fa-star-half star_on"></span>
                                                }
                                                else
                                                {
                                                    <span class="fas fa-star "></span>
                                                }
                                            }
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
